<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>uploadFile</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/uploadFile">
    <br><br>
    需要上传的文件：<input type="file" name="fileName"/>
    文件夹的名字:<input type="text" name="dirName"/>
    <input type="submit" value=" 上     传 "/>
    <br>
    <br>把目录的名字写成  competitionImages
    <br>例如：需要上传的文件:1.jpg
    <br>文件夹的名字:competitionImages
    <br>保存到服务器的图片的路径是：E:\demo\src\main\resources\static\competitionImages\1.jpg

</form>
</body>
</html>